body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/************************** FOR FRONT **************************/
/** Media query untuk resolusi layar 767pixel keatas **/
@media(min-width:767px) {
    .front-section {
        background: url("../../../img/front2.png") no-repeat center center;
        min-height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/** Media query untuk resolusi layar 766pixel kebawah **/
@media(max-width:766px) {
    .front-section {
        min-height: 100%;
        background: lightblue;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.font-section {
    margin-top: 28%;
    text-align: center;
}
.font-header {
    font-family: lobster;
    padding-bottom: 10px;
}
/************************** END FOR FRONT ***********************/