body {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.panel-title {
  font-weight: bold;
  font-family: Volkron;
}

.top-menu
{
  padding-top: 5px;
  padding-bottom: 5px;
  color : white;
  background: black;
}

.footer {
  background: #ECF0F1;
  font-family: Volkron;
  color: darkslategrey;
  padding-top: 10px;
  margin-top: 20px;
}

/** MixitUp Plugin for sorting and filtering **/


/** Override Twitter Bootstrap **/

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background: #00B16A;
}
